@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: beige;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1,
h2,
h3 {
  margin-left: 10vw;
  margin-right: 10vw;
}

div.week {
  display: flex;
  justify-content: center;
}

div.day {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

div.day > div {
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 5px;
}

input[type="checkbox"]:checked + label {
  color: rgb(150, 150, 150);
  text-decoration: line-through;
}
